@charset "UTF-8";

@font-face {
	font-family: "OpenSans-Regular";
	src: url("../font/Open_Sans/OpenSans-Regular.ttf");
}

@font-face {
	font-family: "OpenSans-SemiBold";
	src: url("../font/Open_Sans/OpenSans-SemiBold.ttf");
}

@font-face {
	font-family: "OpenSans-Bold";
	src: url("../font/Open_Sans/OpenSans-Bold.ttf");
}

@font-face {
	font-family: "Exo2-Medium";
	src: url("../font/Exo_2/Exo2-Medium.ttf");
}

* {
	box-sizing: border-box;
}

body {
	height: 100vh;
	width: 100vw;
	margin: 0;
	padding: 0;
	background-image: url("image/background.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	position: relative;
}

.master {
	font-family: "OpenSans-Regular" !important;
	width: 806px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	box-shadow: 0 0 40px grey;
}

/*
** Left Section
*/

.master .leftSection {
	display: inline-block;
	width: 400px;
	padding: 40px 30px;
	text-align: center;
	margin: 0;
	background-color: white;
}

.leftSection header .welcomeNote {
	font-family: "OpenSans-SemiBold";
	font-size: 14px;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #474747;
	margin-bottom: 4px;
}

.leftSection header .welcomeHeading :first-child {
	position: relative;
	top: 5px;
}

.leftSection header .welcomeHeading :last-child {
  font-family: "Exo2-Medium";
  font-size: 32px;
  text-transform: uppercase;
 	background-image: linear-gradient(to right, #e44909, #e4172b);
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

.leftSection header .welcomeText {
	width: 260px;
	margin: 8px auto 20px auto;
	text-align: center;
	font-size: 12px;
	color: #474747;
}

main form * {
	margin: 0 auto;
	font-family: "OpenSans-Regular";
}

main form input {
	height: 34px;
	width: 280px;
	padding: 0 0 0 40px;
	outline: none;
	background-repeat: no-repeat;
	background-position: 10px 50%;
}

main form input[type="text"] {
	display: block;
	background-image: url("icon/username.png");
	margin-bottom: 10px;
  border: 1px solid grey;
  border-radius: 32px;
  padding-right: 16px;
}

main form .buttonGroup {
  position: relative;
  left: 3px;
}

main form .buttonGroup input[type="password"] {
	width: 248px;
	background-image: url("icon/password.png");
  border-top: 1px solid grey;
  border-right: 0;
  border-bottom: 1px solid grey;
  border-left: 1px solid grey;
  border-radius: 32px 0 0 32px;
}

main form .buttonGroup button[type="button"] {
	width: 34px;
	height: 34px;
	padding: 0;
	color: grey;
	background-color: white;
  border-top: 1px solid grey;
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
  border-left: 0;
  border-radius: 0 32px 32px 0;
  position: relative;
  right: 6px;
  outline: 0;
}

main form .buttonGroup button[type="button"]:hover {
	cursor: pointer;
}

main form button[type="submit"] {
	width: 280px;
	height: 34px;
	background-image: linear-gradient(to right, #ea3720, #e12523);
	border: 0;
	border-radius: 64px;
	padding: 0;
	margin-top: 14px;
	color: ghostwhite;
	text-transform: uppercase;
	font-family: "OpenSans-SemiBold";
	letter-spacing: 0.4px;
	box-shadow: 2px 4px 8px #f9a8a5;
	outline: 0;
}

footer {
	margin-top: 10px;
}

footer .header :first-child {
	color: #4C4C4C;
	font-size: 12px;
}

footer .header :last-child {
	color: #eb3e2d;
	font-size: 12px;
	font-family: "OpenSans-Bold";
	font-weight: bold;
	text-decoration: none;
	text-transform: capitalize;
}

footer .header :last-child:hover {
	text-decoration: underline;
}

footer .orLine {
	margin: 10px 0 24px 0;
}

footer .orLine .hr {
	display: inline-block;
	width: 100px;
	padding: 0;
	margin: 0;
	border-top: 1px solid grey;
}

footer .orLine :nth-child(2) {
	font-size: 14px;
	color: grey;
	margin: 0 10px;
	text-transform: capitalize;
	position: relative;
	top: 4px;
}

footer .linkHeader {
	color: #4C4C4C;
	font-size: 12px;
}

footer .linkContainer {
	margin: 16px 0 0 0;
}

footer .linkContainer span {
	display: inline-block;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	box-shadow: 0 0 6px 2px #E5E5E5;
	margin: 0 8px;
}

footer .linkContainer span a {
	display: inline-block;
	margin-top: 4px;
}

footer .linkContainer :nth-child(1) > a {
	color: #032788;
}

footer .linkContainer :nth-child(2) > a {
	color: #2aa9ee;
}

footer .linkContainer :nth-child(3) > a {
	color: #dc2006;
}

footer .linkContainer :nth-child(4) > a {
	color: #0561ae;
}

/*
** Right Section
*/

.master .rightSection {
	display: inline-block;
	width: 406px;
	height: 462px;
	position: absolute;
	top: 0;
	left: 400px;
	background-image: url("image/rsbg.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.master .rightSection .contentContainer {
	padding: 140px 40px 40px 40px;
	color: ghostwhite;
	text-align: center;
}

.master .rightSection :nth-child(2) {
	font-family: "Exo2-Medium";
	font-size: 32px;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.master .rightSection :nth-child(3) {
	font-family: "OpenSans-Regular";
	font-size: 14px;
	line-height: 22px;
}